body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.home-sec {
    display: flex;
    min-height: 100vh;
    background-image: url(images/share-food1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 10px;
    padding: 20px;
    color: rgb(35, 35, 35);
    text-align: center;
    font-size: 60px;
}
#home-para {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.button {
    text-align: center;
    margin-top: 50px;
}
.cta-button {
    font-weight: 500;
    color: #474747;
    text-decoration: none;
    background-color: #eeeeee;
    margin: 20px;
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 5px 0px 10px black;
}
.donation-sec {
    display: flex;
    min-height: 70%;
    justify-content: center;
}
#donation-sec {
    margin: 50px;
    margin-top: 100px;
    padding: 20px;
}
h2 {
    margin: 10px;
    margin-bottom: 10px;
    padding: 20px;
    color: rgb(35, 35, 35);
    text-align: center;
    font-size: 50px;
}
.donation-amount{
    display: flex;
    justify-content: center;
    margin: 40px;
    margin-top: 100px;
    margin-bottom: 60px;
}
.fix-amount {
    font-size: 30px;
    font-weight: 700;
    color: rgb(35, 35, 35);
    display: inline;
    margin: 10px;
    padding: 20px;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 5px;

}
#selected-amount {
    border:3px solid #474747;
}
.amount-input {
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #474747;
    border-radius: 50px;
    max-width: fit-content;
}
.custom-amount {
    margin: 20px;
    text-align: center;
}
.donate-plan {
    margin: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donate-plan-type {
    display: inline-block;
    border: 2px solid #474747;
    background-color: rgba(79, 157, 166, 0.1);
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
   text-align: justify;
}
.donation-process {
    text-align: center;
}
.first-sec {
    display: inline-flex;
    margin: 40px;
    margin-top: 80px;
}
h3 {
    font-size: 30px;
}
.donate-process {
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.how-to-donate {
    margin: 20px;
    margin-top: 40px;
}
.banner-img {
    height: 320px;
    width: 450px;
    border-radius: 5px;
    margin: 20px;
    margin-left: 80px;
 
}
.second-sec {
    display: inline-flex;
    margin: 40px;
    margin-top: 80px;
}
.newsletterBx {
    background-color: #FFF4D6;
    margin: 100px;
    padding: 50px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}
.mail {
    text-decoration: none;
    background-color: #e7e7e7;
    margin-right: 0;
    padding: 15px;
    border: 3px;
    border-radius: 50px 0px 0px 50px;
}
.sub-button {
    text-decoration: none;
    font-weight: 400;
    color: #e7e7e7;
    background-color: #FF5959;
    margin-left: 0;
    padding: 10px;
    border: 3px;
    border-radius: 0px 50px 50px 0px;
}
footer {
    text-align: center;
}
span {
    font-family: 'Clicker Script', cursive;
    font-size: 25px;
}